### Website to get finance data 
1. Yahoo Finance
2. Quandl
3. Intrinio

In [11]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings

In [13]:
plt.rcParams['figure.figsize'] = [16, 9]
plt.rcParams['figure.dpi'] = 300

warnings.simplefilter(action='ignore', category=FutureWarning)

In [15]:
import yfinance as yf

In [16]:
df_yahoo = yf.download('AAPL',
                          start='2000-01-01',
                          end='2010-12-31',
                          progress=False)

In [17]:
df_yahoo.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.844004  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.772846  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.784155  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.716296  767972800
2000-01-07  0.861607  0.901786  0.852679  0.888393   0.750226  460734400

In [20]:
import quandl

In [19]:
# Get data from quandl
import os

api_key = os.environ.get('API_KEY')

In [21]:
quandl.ApiConfig.api_key = api_key

In [22]:
df_quandl = quandl.get(dataset='WIKI/AAPL',
                                   start_date='2000-01-01',
                                   end_date='2010-12-31')

In [23]:
df_quandl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.25,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.75,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.12,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.50,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0

In [24]:
import numpy as np